@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #11131F;
}

.button-container {
  border: 2px solid #182449;
  padding: 10px;
  border-radius: 7px;
  box-shadow: inset 0 20px 4px -19px rgba(214, 225, 255, 0.7);
}

button {
  cursor: pointer;
  outline: none;
  width: 120px;
  height: 75px;
  font-family: Josefin Sans, sans-serif;
  font-size: 25px;
  color: #D6E1FF;
  text-shadow: 0 2px 5px black;
  background: linear-gradient(to top, #1e294d, #6d84d2);
  border: 2px solid #182449;
  border-radius: 7px;
  box-shadow: inset 0 20px 4px -19px rgba(214, 225, 255, 0.4), 0 12px 12px 0 rgba(0, 0, 0, 0.3);
}

button:hover {
  background: linear-gradient(to bottom,  #1e294d, #6d84d2);
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.3);
}